{% set currentMapId = context.get('current_map_id') %}
<div class="list-group menu">
	<div class="menu__wrapper">
        {% for id, item in mapping %}
            <a
                href="{{ path('molodyko.dashboard.form', {'id': id}) }}"
                class="menu__item list-group-item {% if id == currentMapId %}active{% endif %}"
            >
                {{ id }}
            </a>
        {% endfor %}
	</div>
</div>