<table class="table">
    <tr>
        {% for label in labels %}
            <th>
                {{ label }}
            </th>
        {% endfor %}
    </tr>
    {% for row in pagination %}
        <tr>
            {% for col in row %}
                <td>
                    {{ col }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
