<!DOCTYPE html>
<html>
<head>
    <base href="/lib/www/">
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="src/components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="src/css/dashboard/build.bundle.css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container">
        <div class="container__header"></div>
        <div class="container__menu">
            {{ render(controller('DashboardBundle:Menu:menu', {'context': context})) }}
        </div>
        <div class="container__content">
            {% block content %}{% endblock %}
        </div>
        <div class="container__footer"></div>
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
